sdk/PaymentezSDK/PaymentezSDK.xcodeproj/project.xcworkspace/xcuserdata/gustavosotelo.xcuserdatad/UserInterfaceState.xcuserstate
sdk/PaymentezSDK/PaymentezSDK.xcodeproj/xcuserdata/gustavosotelo.xcuserdatad/xcschemes/PaymentezSDK.xcscheme
sdk/PaymentezSDK/PaymentezSDK.xcodeproj/xcuserdata/gustavosotelo.xcuserdatad/xcschemes/PaymentezSDKFramework.xcscheme
sdk/PaymentezSDK/PaymentezSDK.xcodeproj/xcuserdata/gustavosotelo.xcuserdatad/xcschemes/xcschememanagement.plist


*.xcuserstate