<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PaymentezSDKSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40873CA01CD1348D00F67721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40873CB41CD1348E00F67721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40873CBF1CD1348E00F67721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
